@model vidly.ViewModels.MoviesViewModel

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (Model.Movies?.Count < 1 || Model.Movies == null)
{
    <p>There are no movies yet.</p>
}
else
{
<table class="table">
    <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Month</th>
        <th>Year</th>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr onclick="location.href = '@Url.Action("Details", "Movies", new { id = movie.Id })'">
                <td>@movie.Id</td>
                <td>@movie.Title</td>
                <td>@movie.Month</td>
                <td>@movie.Year</td>
            </tr>
        }
    </tbody>
</table>
}